.tag {
  &-title {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $l-gray;

    h1 {
      display: flex;
      align-items: center;

      span {
        border: 2px solid $l-gray;
        font-size: 14px;
        border-radius: 11px;
        height: 22px;
        line-height: 18px;
        display: inline-block;
        margin-left: 1em;
        padding: 0 1em;

      }
    }
  }
}
