#__nuxt,
#__layout {
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
}

.default-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.tag-page {
  width: 100%;
  max-width: 600px;
  margin: 2em 0;
}
