.tag {
  margin-bottom: 2em;

  &__wrapper {
    display: flex;

    input,
    button {
      height: 48px;
    }

    input {
      flex: 1 0 auto;
      font-size: 1.4em;
      font-weight: 300;
    }

    button {
      border-radius: 24px;
      font-size: 1.2em;
      font-weight: 400;
      margin-left: 1em;
      padding: 0 1.4em;

      &:hover {
        background-color: $l-gray;
      }
    }
  }

  &__warning {
    color: $warning-text;
    background-color: $l-warning;
    margin-top: 0.5em;
    min-height: 38px;
    display: flex;
    align-items: center;
    border: 1px dashed $warning;
    border-left: medium none;
    border-right: medium none;
    padding: 0.5em 0;

    li+li {
      margin-top: 0.5em;
    }
  }

  &-item {
    $p: &;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    height: 54px;

    button {

      &:hover,
      &.outline:hover {
        color: white;
        background-color: $neutral-text-color;
        border-color: $neutral-text-color;

        path {
          fill: white;
        }
      }
    }

    &:hover {
      background-color: rgba($l-gray, 0.2);
    }

    &__desc {
      display: flex;
      align-items: center;
      flex: 1 0 auto;
    }

    &+#{$p} {
      border-top: 1px solid $l-gray;
    }

    &__color {
      display: inline-block;
      border-radius: 8px;
      width: 10px;
      height: 10px;
      margin-right: 1em;
    }

    &__name {
      font-weight: 600;
      font-size: 1.2em;
      height: 28px;
      line-height: 28px;
    }

    &__warning {
      color: $warning-text;
      background-color: $l-warning;
      border: 1px dashed $warning;
      border-radius: 14px;
      margin: 0 0.5em;
      height: 28px;
      line-height: 28px;
      padding: 0 1em;
    }

    &__actions {
      button {
        color: $neutral-text-color;
        font-size: 13px;
        letter-spacing: 0.5px;
        border-radius: 12px;
        height: 24px;
        margin-left: 0.6em;
        line-height: 24px;
        padding: 0 1em;

        &.outline {
          background-color: transparent;
          border: 1px solid $l-gray;
        }
      }

    }

    &__edit {
      flex: 1 0 auto;

      form {
        display: flex;
        align-items: center;

        input {
          font-size: 1.2em;
          height: 28px;
        }
      }
    }

    &__save {
      border-radius: 14px;
      height: 28px;
      padding: 0 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0.5em;

      svg {
        width: 21px;
        height: 21px;

        path {
          fill: $neutral-text-color
        }
      }
    }
  }
}

.home {

  &__links,
  &__headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }

  &__headline {
    flex-direction: column;
  }

  &__links {

    a {
      color: $text-color;
      background-color: $gray;
      text-decoration: none;
      font-size: 1.6em;
      border-radius: 28px;
      height: 56px;
      line-height: 56px;
      padding: 0 1em;

      &:hover {
        color: white;
        background-color: $text-color;
      }
    }
  }
}
